[submodule "ts-spec-reader"]
	path = ts-spec-reader
	branch = master
	url = https://github.com/cs-au-dk/ts-spec-reader.git
[submodule "tajs"]
	path = tajs
	url = https://github.com/cs-au-dk/TAJS.git
	branch = master
