[submodule "ts-spec-reader"]
	path = ts-spec-reader
	branch = v2
	url = https://github.com/cs-au-dk/ts-spec-reader.git
[submodule "tajs"]
	path = tajs
	url = https://github.com/cs-au-dk/TAJS-private.git
	branch = ts_type_checker
